/*
google font family
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1250px;
  padding: 0 12px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

/*
banner section
*/
.banner {
  background-image: url("./../img/banner-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.banner-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.banner-info {
  width: 477px;
}
.banner-info h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.banner-info p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

/*
product section
*/
.product-box {
  width: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 100px 0;
}

.product {
  cursor: pointer;
  transition: all 0.3s;
}
.product:hover {
  transform: scale(1.1);
}
.product img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product p {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product p:first-of-type {
  color: #222;
  padding-bottom: 4px;
}
.product p:last-of-type {
  color: #888;
}

/*
cart section
*/
.cart-box {
  padding: 100px 0;
}

.cart-content {
  width: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
}

.cart-left img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #999;
  padding: 1rem;
}

.cart-right h4 {
  font-size: 18px;
  font-weight: 600px;
  color: #222;
}
.cart-right h2 {
  font-size: 22px;
  font-weight: 400;
  color: #999;
  padding: 6px 0;
}
.cart-right > p {
  font-size: 14px;
  color: #222;
  font-weight: 400;
}

.cart-info {
  padding-bottom: 20px;
}
.cart-info p {
  font-size: 14px;
  color: #222;
  font-weight: 400;
}

.cart-quantity {
  padding-top: 2rem;
}
.cart-quantity p {
  font-size: 14px;
  color: #222;
  font-weight: 400;
  padding-bottom: 10px;
}
.cart-quantity input {
  height: 45px;
  width: 100px;
  padding: 0 10px;
}
.cart-quantity input:focus {
  outline: none;
}

.cart-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 3rem;
}
.cart-btn button {
  height: 45px;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
}
.cart-btn button:first-of-type {
  background-color: #C7A3C7;
}
.cart-btn button:first-of-type:hover {
  background-color: #c27bc2;
}
.cart-btn button:last-of-type {
  background-color: #000000;
}
.cart-btn button:last-of-type:hover {
  background-color: #333333;
}

.product-share {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 16px;
  margin-top: 2rem;
}
.product-share a {
  color: #c27bc2;
  transition: all 0.3s;
}
.product-share a:hover {
  transform: scale(1.2);
}

.view-cart-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.view-cart-btn button {
  height: 45px;
  padding: 0 2rem;
  background-color: #c27bc2;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/*
product view section
*/
.view-cart {
  padding: 100px 0;
}

.product-item {
  margin-bottom: 1.4rem;
  display: flex;
  gap: 1rem;
}
.product-item img {
  height: 150px;
  width: 150px;
  border: 1px solid #999;
  padding: 1rem;
}

.view-cart-right table {
  width: 100%;
  border-collapse: collapse;
}
.view-cart-right table tbody tr td {
  padding: 6px 0;
  border-collapse: collapse;
}
.view-cart-right table tbody tr td:last-child {
  text-align: right;
}
.view-cart-right table tbody tr:last-child td {
  border-bottom: 1px solid #999;
}
.view-cart-right table tfoot tr td {
  padding: 4px 0;
  border-collapse: collapse;
}
.view-cart-right table tfoot tr td:last-child {
  text-align: right;
}
.view-cart-right table tfoot tr td span {
  font-size: 10px;
}
.view-cart-right button {
  height: 45px;
  width: 100%;
  padding: 0 2rem;
  background-color: #c27bc2;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s;
}
.view-cart-right button:hover {
  background-color: #b45db4;
}

.view-cart-content {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 2rem;
}

.product-empty h2 {
  font-size: 30px;
  font-weight: 600;
  color: #999;
  padding-bottom: 1rem;
}
.product-empty button {
  height: 45px;
  padding: 0 2rem;
  background-color: #c27bc2;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.product-quantity {
  border: 1px solid #222;
  height: 45px;
  display: flex;
  align-items: center;
}
.product-quantity button {
  height: 100%;
  padding: 0 8px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}
.product-quantity span {
  padding: 0 10px;
}

.product-option,
.product-img {
  display: flex;
  gap: 1rem;
}

.product-option {
  align-items: center;
  align-self: flex-start;
  margin-left: 3rem;
}
.product-option > button {
  height: 45px;
  width: 45px;
  border: none;
  background: none;
  cursor: pointer;
  color: #999;
}
.product-option > button:hover {
  color: red;
}

/*
footer section
*/
.footer {
  background-image: url("./../img/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.footer-about h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 1rem;
}
.footer-about p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.footer-logo {
  text-align: center;
}
.footer-logo h4 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 1rem;
}

.footer-support h4 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 1rem;
}
.footer-support nav a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
}
.footer-support nav a:hover {
  text-decoration: underline;
}

.footer-nav {
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  justify-content: flex-end;
}/*# sourceMappingURL=app.css.map */