/*
google font family
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1250px;
    padding: 0 12px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

/*
banner section
*/

.banner {
    background-image: url('./../img/banner-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.banner-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner-info {
    width: 477px;

    h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
    }
}


/*
product section
*/

.product-box {
    width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 100px 0;
}

.product {
    cursor: pointer;
    transition: all .3s;

    &:hover {
        transform: scale(1.1);
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    p {
        font-size: 14px;
        font-weight: 400;

        &:first-of-type {
            color: #222;
            padding-bottom: 4px;
        }

        &:last-of-type {
            color: #888;
        }
    }
}

/*
cart section
*/
.cart-box {
    padding: 100px 0;
}

.cart-content {
    width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
}

.cart-left {
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.cart-right {
    h4 {
        font-size: 18px;
        font-weight: 600px;
        color: #222;
    }

    h2 {
        font-size: 22px;
        font-weight: 400;
        color: #999;
        padding: 6px 0;
    }

    >p {
        font-size: 14px;
        color: #222;
        font-weight: 400;
    }
}

.cart-info {
    padding-bottom: 20px;

    p {
        font-size: 14px;
        color: #222;
        font-weight: 400;
    }
}

.cart-quantity {
    padding-top: 2rem;

    p {
        font-size: 14px;
        color: #222;
        font-weight: 400;
        padding-bottom: 10px;
    }

    input {
        height: 45px;
        width: 100px;
        padding: 0 10px;


        &:focus {
            outline: none;
        }
    }
}

.cart-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3rem;

    button {
        height: 45px;
        border: none;
        cursor: pointer;
        color: #fff;
        transition: all .3s;

        &:first-of-type {
            background-color: #C7A3C7;

            &:hover {
                background-color: #c27bc2;
            }
        }

        &:last-of-type {
            background-color: #000000;

            &:hover {
                background-color: #333333;
            }
        }
    }
}

.product-share {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 16px;
    margin-top: 2rem;

    a {
        color: #c27bc2;
        transition: all .3s;

        &:hover {
            transform: scale(1.2);
        }
    }

}

/*
footer section
*/
.footer {
    background-image: url('./../img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
}

.footer-about {
    h4 {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        padding-bottom: 1rem;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
    }
}

.footer-logo {
    text-align: center;

    h4 {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        padding-bottom: 1rem;
    }
}

.footer-support {

    h4 {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        padding-bottom: 1rem;
    }

    nav {
        a {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            display: inline-block;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer-nav {
    display: inline-flex;
    flex-direction: column;
    gap: 3px;
    justify-content: flex-end;
}